@use 'styles/common/vw-calculator' as vw;
@use 'styles/common/colors' as color;
@import 'styles/common/variable';

.wrapper {
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include mq(sp) {
    flex-direction: column;
  }

  .left {
    width: 40%;

    @include mq(sp) {
      width: 80%;
    }

    img {
      width: 100%;
    }
  }

  .right {
    width: 40%;

    @include mq(sp) {
      width: 80%;
    }

    p {
      font-size: 2rem;

      @include mq(sp) {
        font-size: min(vw.vw(20), 2rem);
        line-height: 1.6;
      }

      &.desc_konva {
        padding: 20px;
        margin-top: 20px;
        font-size: 1.5rem;
        line-height: 1.6;
        border: 2px solid color.color(4);
        border-radius: 20px;

        @include mq(sp) {
          padding: 5vw;
          margin-top: 6vw;
          font-size: min(vw.vw(15), 1.5rem);
          border-radius: 4vw;
        }
      }
    }
  }
}
