@use 'styles/common/vw-calculator' as vw;
@use 'styles/common/colors' as color;
@import 'styles/common/variable';

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  @include mq(sp) {
    flex-direction: column;
    align-items: center;
    gap: 20vw;
  }

  .br_sp {
    display: none;

    @include mq(sp) {
      display: block;
    }
  }

  .left,
  .right {
    width: 50%;

    @include mq(sp) {
      width: 90%;
    }
  }

  .left {
    border-right: 2px solid color.color(4);

    @include mq(sp) {
      border-right: none;
    }
  }

  .right {
    p {
      line-height: 1;

      @include mq(sp) {
        text-align: center;
      }
    }
  }
}
