@use 'styles/common/vw-calculator' as vw;
@import 'styles/common/variable.scss';

.wrapper {
  height: 80px;
  width: 100vw;
  padding: 0 4vw 10px;
  background-color: antiquewhite;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0.5);

  @include mq(sp) {
    height: 50px;
    padding: 0 10px;
    position: sticky;
  }

  div {
    width: fit-content;
    height: fit-content;
    margin-right: auto;
    position: relative;

    img {
      width: 50px;
      height: 50px;

      @include mq(sp) {
        width: 30px;
        height: 30px;
      }
    }

    h1 {
      &.logo_en {
        width: 15em;
        position: absolute;
        bottom: 0;
        left: 54px;
        font-size: 3.5rem;

        @include mq(sp) {
          font-size: 2rem;
          bottom: 2px;
          left: 33px;
        }
      }

      &.logo_jp {
        height: 15em;
        position: absolute;
        top: 54px;
        left: 6px;
        font-size: 2.8rem;
        font-weight: 400;
        writing-mode: vertical-rl;

        @include mq(sp) {
          font-size: 2rem;
          top: 33px;
          left: 0;
        }
      }
    }
  }

  nav {
    @include mq(sp) {
      display: none;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 50px;
      li {
        font-size: 2rem;
      }
    }
  }
}
