@use 'styles/common/variable';
@use 'styles/common/vw-calculator' as vw;

.wrapper {
  height: 80px;
  width: 100vw;
  padding: 0 4vw 10px;
  background-color: antiquewhite;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0.5);

  div {
    width: fit-content;
    height: fit-content;
    margin-right: auto;
    position: relative;

    img {
      width: 50px;
      height: 50px;
    }

    h1 {
      &.logo_en {
        width: 500px;
        position: absolute;
        bottom: 0;
        left: 54px;
        font-size: 3.5rem;
      }

      &.logo_jp {
        height: 500px;
        position: absolute;
        top: 54px;
        left: 6px;
        font-size: 2.8rem;
        font-weight: 400;
        writing-mode: vertical-rl;
      }
    }
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 50px;
      li {
        font-size: 2rem;
      }
    }
  }
}
