@use 'styles/common/vw-calculator' as vw;
@use 'styles/common/colors' as color;
@use 'styles/common/variable' as *;

.wrapper {
  display: flex;
  justify-content: center;
  z-index: -1;

  @include mq(sp) {
    flex-direction: column;
  }

  .left,
  .center,
  .right {
    width: min(33vw, 500px);
    height: min(33vw, 500px);
    padding: 3vw;
    margin: 0 -2vw;
    line-height: 1.7;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include mq(sp) {
      width: 90vw;
      height: 90vw;
      margin: -3vw 0;
      justify-content: center;
    }

    h3 {
      text-align: center;
      font-size: min(2.4rem, 2.4vw);
    }

    p {
      text-align: center;
      font-size: min(1.5rem, 1vw);

      @include mq(sp) {
        font-size: min(1.5rem, vw.vw(13));
      }
    }

    img {
      height: 40%;
    }
  }

  .left {
    background-color: color.color(4);
    z-index: 3;
  }

  .center {
    background-color: color.color(5);
    z-index: 2;
  }

  .right {
    background-color: color.color(4);
    z-index: 1;

    p {
      line-height: 1.2;

      @include mq(sp) {
        margin-top: 2vw;
      }
    }

    img {
      height: 30%;
      margin-top: -6%;

      @include mq(sp) {
        margin-top: 0;
      }

      &:first-of-type {
        height: 20%;
        margin-top: -8%;

        @include mq(sp) {
          margin-top: 0;
        }
      }
    }
  }
}
