@use 'styles/common/vw-calculator' as vw;
@use 'styles/common/colors' as color;
@use 'styles/common/variable' as *;

.wrapper {
  width: 360px;

  @include mq(sp) {
    width: 300px;
  }

  h3 {
    @include mq(sp) {
      font-size: 2rem;
      line-height: 1.5;
    }
  }
  p,
  a {
    @include mq(sp) {
      font-size: 1.2rem;
    }
  }
}
