$colors: (
  1: #614d40,
  2: #807066,
  3: #a0948c,
  4: #bfb7b2,
  5: #dfdbd8,
  6: #e8e5e3,
  7: #e8e5e397,
  'yellow': #f1c351,
) !default;

@function color($color) {
  @return map-get($colors, $color);
}
