@use 'styles/common/vw-calculator' as vw;
@use 'styles/common/colors' as color;
@import 'styles/common/variable';

.wrapper {
  width: 100%;
  max-width: 1400px;
  padding-bottom: 8vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;

  @include mq(sp) {
    padding-bottom: 8vw;
  }

  img {
    &.deco01 {
      width: 50px;
      position: absolute;
      top: 0;
      right: 20vw;
      z-index: -1;

      @include mq(sp) {
        right: 5vw;
      }
    }

    &.deco02 {
      width: 50px;
      position: absolute;
      bottom: 0;
      left: 20vw;
      z-index: -1;

      @include mq(sp) {
        left: 5vw;
      }
    }
  }

  .heading {
    text-align: center;

    h2 {
      font-weight: 600;

      @include mq(sp) {
      }
    }

    p {
      font-weight: 500;
    }
  }
}
