@use 'styles/common/vw-calculator' as vw;
@use 'styles/common/colors' as color;
@import 'styles/common/variable';

.wrapper {
  height: calc(100vh - 80px);
  min-height: fit-content;
  padding-left: 5vw;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  @include mq(sp) {
    height: max(calc(100vh - 100px), 90vw);
    flex-direction: column;
    align-items: normal;
    justify-content: center;
  }

  .texts {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mq(sp) {
      gap: 2vw;
    }

    h1 {
      font-size: min(4rem, vw.vw(40, 1440));
      line-height: 1.35;

      @include mq(sp) {
        font-size: min(3rem, vw.vw(30));
      }
    }

    h2 {
      font-size: min(2rem, vw.vw(30, 1440));
      font-weight: 500;
      line-height: 1.4;
      color: color.color(2);

      @include mq(sp) {
        font-size: min(2rem, vw.vw(15));
      }

      span {
        display: inline-block;
      }
    }

    .grid_wrapper {
      width: 200px;
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      @include mq(sp) {
        width: 100%;
      }
    }
  }

  .images {
    position: absolute;
    right: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    margin: -10vw 0;

    @include mq(sp) {
      position: static;
      margin-left: auto;
    }

    img {
      &.bg {
        width: 60vw;

        @include mq(sp) {
          width: min(80vh, 80vw);
        }
      }
    }

    img {
      &.main {
        width: 60vw;
        position: absolute;

        @include mq(sp) {
          width: min(80vh, 80vw);
          right: -11vw;
        }

        &.laptop {
          right: -8vw;

          @include mq(sp) {
            right: -11vw;
          }
        }

        &.desktop {
          right: -7vw;

          @include mq(sp) {
            right: -11vw;
          }
        }

        &.dtp {
          right: -4vw;
          filter: drop-shadow(0 0 0.5vw #aaa);

          @include mq(sp) {
            right: -5vw;
          }
        }
      }
    }
  }
}
