@use 'styles/common/vw-calculator' as vw;
@use 'styles/common/colors' as color;
@import 'styles/common/variable';

.wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 140px;

  @include mq(sp) {
    gap: 20vw;
  }

  pre {
    white-space: pre-wrap;
  }

  .feature {
    width: 100%;

    .heading {
      text-align: center;

      @include mq(sp) {
        text-align: left;
      }
    }

    .content {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;

      @include mq(sp) {
        margin-top: 5vw;
        gap: 5vw;
      }

      .desc1,
      .desc2,
      .desc3,
      .desc4 {
        width: 100%;
      }

      .desc1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 60%;

          @include mq(sp) {
            width: 100%;
          }
        }
      }

      .desc2 {
        display: flex;
        gap: 20px;
        justify-content: center;

        @include mq(sp) {
          flex-direction: column;
          gap: 4vw;
        }

        .left {
          width: 40%;

          @include mq(sp) {
            width: 100%;
          }

          img {
            width: 100%;
          }
        }

        .right {
          width: 40%;
          @include mq(sp) {
            width: 100%;
          }

          iframe {
            width: 100%;
            height: 100%;
            border: 0;
          }
        }
      }

      .desc3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        img {
          width: 60%;
        }

        hr {
          width: 60%;
        }

        iframe {
          width: 800px;
          height: 400px;

          @include mq(sp) {
            width: 100%;
          }
        }
      }

      .desc4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;

        img {
          width: 60%;

          @include mq(sp) {
            width: 80%;
          }
        }

        .top,
        .bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
