@use 'styles/common/variable' as color;
@use 'styles/common/vw-calculator' as vw;

.wrapper {
  width: 60px;
  height: 60px;
  background-color: color.color(4);
  border-radius: 20%;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    line-height: 1.2;
  }
}
