@use 'styles/common/vw-calculator' as vw;
@use 'styles/common/colors' as color;
@import 'styles/common/variable';

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 10px solid color.color(4);
  border-radius: 20px;
  overflow: hidden;

  @include mq(sp) {
    flex-direction: column;
  }

  .left,
  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    margin: -1px -1px;

    @include mq(sp) {
      width: 104%;
      padding: 5vw 4vw;
      margin: -1% -1%;
    }

    h2 {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      img {
        width: 50px;
        height: 50px;
      }

      span {
        margin-top: 10px;
        margin-left: 4px;
      }
    }

    .img_wrapper {
      width: 80%;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    h4 {
      margin: 4px 0 10px;
      font-weight: 700;
      line-height: 1.4;
    }

    p {
      line-height: 1.6;
    }
  }

  .left {
    padding-right: 5%;
    position: relative;
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    background-color: color.color(4);

    @include mq(sp) {
      padding: 5vw 4vw 12vw 4vw;
      clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    }

    h2 {
      color: #fff;
    }

    h4 {
      color: #fff;
      font-weight: 500;
    }

    p {
      color: #fff;
    }
  }
}
